body{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}
@import "imagesize.css";
@import "header.css";

#image1{
    margin: 0%;
}
#h1{
   margin-left: 10%;
   margin-top: -8%;
}
a{
    text-decoration: none;
}
